.controls {
    width: 30%;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -1.7%;
    box-shadow: 2px -2px 4px 4px rgba(0,0,0,0.75);
}  

.play-pause-holder {
    margin: 0 auto;
    height: 175px;
}

.play-pause-icon {
    width: 150px;
    height: auto;
    cursor: pointer;
}

.extra-controls {
    margin: 0 auto;
}

.next {
    height: 60px;
    width: auto;
    margin: 6px;
    cursor: pointer;
}

.back, .shuffle {
    height: 60px;
    width: auto;
    transform: rotate(180deg);
    margin: 4px;
    cursor: pointer;
}
