.dashboard {
    height: 225px;
    display: flex;
    flex-direction: row;
}

.belongs-to {
    width: 35%;
    /* background-color: red; */
}

.song-info {
    width: 30%;
    margin-top: -35px;
}

