.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-info div {
    margin: 2px;
    text-align: center;
}

.song-info-track {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.song-info-artist {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.4px;
}
