.rangeslider {
  margin: 30px 15px;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
}

.rangeslider .rangeslider__handle {
  background: black;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}

.rangeslider-horizontal {
  height: 12px;
  border-radius: 10px;
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: transparent;
  top: 0;
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.75);
}

.rangeslider__fill {
    width: 100% !important;
}

.rangeslider-horizontal .rangeslider__handle {
  width: 30px;
  height: 50px;
  border-radius: 3px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: black;

}

.rangeslider-horizontal .rangeslider__handle:after {
  content: ' ';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
}

input[type='range']{
    -webkit-appearance: none;
}

:focus {
    -webkit-appearance: none;
    outline: none;
}

input:focus {
    outline-offset: 0px;
    -webkit-appearance: none;
}

