body {
  background: -webkit-linear-gradient(to right, #000428, #004e92);
  background: linear-gradient(to right, #000428, #004e92) !important;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.base {
  display: flex;
  flex-direction: row;
  height: 450px;
}

.speakers {
  width: 35%;
}